.k-button {
  display: flex;
  justify-content: center;

  .k-button__button {
    display: flex;
    padding: var(--s-third);
    color: var(--c-interaction);
    border: 1px solid currentColor;
    border-radius: var(--r-one);
  }
  
  &.doc-component-highlight {
    k-button__button {
      padding-right: 50px;
    }
  }
}
