[doc-include]:empty {
  background-image: url(../assets/placeholder-include.svg);
  background-size: 100% 100%;
  border: 0;

  &::before {
    display: none;
  }

  &:not(.doc-component-highlight) {
    outline: 0;
  }
}

[doc-container]:empty {
  border: 0;
  outline: 2px dashed var(--li-c-gray-6);

  &::after,
  &::before {
    display: none;
  }
}
