.k-quote {
  display: flex;
  flex-direction: column;
  gap: var(--s-sixth);
  grid-column-start: 2;
  grid-column-end: 8;

  @media screen and (max-width: 1120px) {
    grid-column-start: 1;
    grid-column-end: 9;
  }
}
