@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.slate-type-title-1 {
  font-family: "Besley", serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  line-height: 140%;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--c-interaction);
  }

  @media screen and (max-width: 1000px) {
    font-size: 24px;
  }
}

.slate-type-title-2 {
  font-family: "Besley", serif;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 140%;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--c-interaction);
  }

  @media screen and (max-width: 1000px) {
    font-size: 18px;
  }
}

.slate-type-title-3 {
  font-family: "Besley", serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 140%;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--c-interaction);
  }

  @media screen and (max-width: 1000px) {
    font-size: 18px;
  }
}

.slate-type-title-4 {
  font-family: "Besley", serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 140%;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--c-interaction);
  }
}

.slate-type-lead-1 {
  @font-family: "Lexend", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--c-interaction);
  }
}

.slate-type-lead-2 {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--c-interaction);
  }
}

.slate-type-lead-3 {
  font-family: "Lexend", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--c-interaction);
  }
}

.slate-type-subtitle-1 {
  font-family: "Lexend", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 140%;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--c-interaction);
  }

  @media screen and (max-width: 1000px) {
    font-size: 18px;
  }
}

.slate-type-copy-1 {
  font-family: "Besley", serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--c-interaction);
  }
}

.slate-type-button-1 {
  font-family: "Lexend", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  text-transform: uppercase;
}

:root {
  --c-white:  #fcfcfc;
  --c-black:  #363430;
  --c-grey:   #98948d;
  --c-slate:  #6f5dca;

  --c-white--print:  #f5f3ef;
  --c-black--print:  #4b4333;
  
  --c-interaction:  var(--c-slate);

  --s-one:        36px;
  --s-double:     calc(var(--s-one) * 2);
  --s-two-thirds: calc(var(--s-one) * 2 / 3);
  --s-half:       calc(var(--s-one) / 2);
  --s-third:      calc(var(--s-one) / 3);
  --s-quarter:    calc(var(--s-one) / 4);
  --s-sixth:      calc(var(--s-one) / 6);

  --r-one:  4px;
}
