.k-title {
  display: flex;
  flex-direction: column;
  gap: var(--s-two-thirds);

  .k-article-wrapper--print & {
    .k-title__title {
      font-family: "Besley", serif;
      font-size: 32px;
      font-weight: 700;
      font-style: normal;
      line-height: 140%;

      a {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid var(--c-interaction);
      }

      @media screen and (max-width: 1120px) {
        font-size: 18px;
      }
    }

    .k-title__lead {
      font-family: "Besley", serif;
      font-size: 18px;
      font-weight: 700;
      font-style: normal;
      line-height: 140%;

      a {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid var(--c-interaction);
      }
    }
  }
}
